@media screen and (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    body * {
        width: 100%;
        margin: 0;
    }
    .alert-info {
        text-align: center;
        background-color: #7fc7bf;
        padding: 1rem 0;
        border: 2px solid lightgrey;
        align-self: stretch;
    }
    .alert-info a {
        text-decoration: none;
        color: black;
    }
    h1 {
        padding: 1rem 0;
        font-size: xxx-large;
        text-align: center;
    }
    ul {
        padding: 0px;
    }
    .nav-links li {
        text-align: center;
        list-style-type: none;
        background-color: lightgrey;
        padding: 1.5rem 0;
        margin: 0.5rem 0;
    }
    .header-img {
        display: flex;
        justify-content: center;
        align-self: stretch;
    }
    section {
        padding: 1rem 0;
    }
}
@media screen and (min-width: 577px) {
    .hidden-on-desktop {
        visibility: hidden;
        display: none;
    }
    body *{
        /*width: 100%;*/
        margin: 0;
    }
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h1{
        flex-grow: 1;
    }
    ul{
        list-style-type: none;
        display: inline-flex;
    }
    img{
        width: 100%;
    }
    li{
        padding: 1rem;
    }
    .main{
        width: 50%;
        padding-right:1rem ;
    }
    .sub-section{
        width: 40%;
    }
    h2{
        padding: 1rem 0;
    }
    footer p{
    }
}

















