@media screen and (min-width: 576px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .alert-info{
        background-color: lightskyblue;
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin: 1rem;
        border: 2px solid lightgrey;
        align-self: stretch;


    }
    .alert-info a{
        text-decoration: none;
        color: black;
    }
    h1{
        font-size: xxx-large;
        display: flex;
        justify-content: center;
        align-self: stretch;
    }
    .nav-links li{
        list-style-type: none;
        padding: 0;
    }
    .nav-links a{
        text-decoration: none;
    }
}
